<!-- Pop-up to view a menu item -->

<div class="menu-item-popup" _="on closePopup remove me">
  <div class="menu-item-popup__underlay" _="on click trigger closePopup"></div>
  <article class="menu-item-popup__content">
    <button _="on click trigger closePopup">Close</button>
    <img src="<%= menuItem.imagePath || '/images/placeholder.png' %>" alt="<% menuItem.name %>">
    <div class="menu-item-popup__info">
      <h2><%= menuItem.name %></h2>
      <% if (menuItem.description) { %>
        <p><%= menuItem.description %></p>
      <% } %>
      <p>AED <%= menuItem.price.toFixed(2) %></p>
    </div>
    <form
    hx-post="/basket"
    hx-vals='js:{ "itemID" : "<%= menuItem.id %>" }'
    hx-target="find button">
      <input type="number" inputmode="numeric" value="1" min="1" name="quantity">
      <button type="submit">Add to Basket</button>
    </form>
  </article>
</div>