<article class="food-details" _="on updatePrice
                                 set quantity to the value of <input/> in me
                                 set total_price to <%= menuItem.price %> * quantity
                                 put total_price.toLocaleString ('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) into #price">
  <nav><a href="/">Back</a></nav>
  <img class="food-details__thumbnail" src="<%= menuItem.imagePath || '/images/placeholder.png' %>" alt="<% menuItem.name %>">
  <div class="food-details__info">
    <h2><%= menuItem.name %></h2>
    <p class="food-details__price">AED <span id="price"><%= menuItem.price.toLocaleString ('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span></p>
    <% if (menuItem.description != null) { %>
      <p class="food-details__description"><%= menuItem.description %></p>
    <% } %>
  </div>
  <form hx-post="/basket"
  hx-vals='js:{ "itemID" : "<%= menuItem.id %>" }'
  hx-target="button[type=submit]">
    <%- include('../partials/quantity-input', { minValue: 1 }) %>
    <button type="submit">Add to Basket</button>
  </form>
</article>