<%- include("../partials/header") %>
<main id="food-view"
_="on updatePrice
   set quantity to the value of <input/> in .quantity-input in .add-to-basket
   set total_price to <%= menuItem.price %> * quantity
   put total_price.toLocaleString ('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 })
   into .value in .food-price">
  <article class="food-details">
    <%- include("../partials/food-thumbnail", { 
      food: menuItem, 
      className: "food-details__thumbnail"
    }) %>
    <div class="food-details__info">
      <h2><%= menuItem.name %></h2>
      <% if (menuItem.description != "") { %>
        <p class="food-details__description"><%= menuItem.description %></p>
      <% } %>
    </div>
  </article>
  <form class="add-to-basket" action="/basket" method="post">
    <input type="hidden" name="itemID" value="<%= menuItem.id %>">
    <div>
      <div class="food-price">
        <p>AED <span class="value"><%= menuItem.price.toLocaleString ('en-AE', { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></span></p>
      </div>
      <%- include('../partials/quantity-input', { minValue: 1 }) %>
    </div>
    <button type="submit">Add to Basket</button>
  </form>
</main>