<li class="basket-item"
hx-trigger="change from:find .quantity-input>input"
hx-vals='js:{ "quantity": this.querySelector(".quantity-input>input").value }'
hx-put="/basket/<%= item.id %>"
hx-swap="outerHTML"
_="on load from <input/> in .quantity-input in me
   trigger updateTotalPrice
   if (value of <input/> in .quantity-input in me) <= 0 remove me">
  <%- include('./food-thumbnail', { food: item.item, className: "basket-item__thumbnail" }) %>
  <div class="basket-item__contents">
    <h3><%= item.item.name %></h3>
    <div>
      <%- include('./quantity-input', { minValue: 0, initialValue: item.quantity }) %>
      <p class="basket-item__price">AED <span class="price"><%= item.cost %></span></p>
    </div>
  </div>
</li>