<li role="link" class="food-card">
  <a href="/menu/<%= menuItem.id %>" tabindex="0"></a>
  <img class="food-card__display-image" src="<%= menuItem.imagePath || '/images/placeholder.png' %>" alt="<%= menuItem.name %>">
  <h2 class="food-card__name"><%= menuItem.name %></h2>
  <p class="food-card__price">AED <%= menuItem.price.toLocaleString ("en-AE", { minimumFractionDigits: 2, maximumFractionDigits: 2 }) %></p>
</li>