<li class="menu-item"
  hx-get="/menu/<%= menuItem.id %>"
  hx-swap="beforeend"
  hx-target="body"
  hx-trigger="click">
  <img class="menu-item__display-image" src="<%= menuItem.imagePath || '/images/placeholder.png' %>" alt="<%= menuItem.name %>">
  <h2 class="menu-item__name"><%= menuItem.name %></h2>
  <p class="menu-item__price">AED <%= menuItem.price.toFixed(2) %></p>
</li>