    <div class="quantity-input">
      <button _="on click
                 set inputField to next <input/>
                 halt the event then if parseInt(value of inputField) > <%= locals.minValue || 0 %>
                 set value of inputField to parseInt(value of inputField) - 1
                 then trigger change on inputField">&minus;</button>
      <input type="number" inputmode="numeric" min="<%= locals.minValue || 0 %>" value="<%= locals.initialValue == null ? 1 : locals.initialValue %>" name="quantity"
      _="on toggleButton if parseInt(my value) <= <%= locals.minValue || 0 %> then set my value to <%= locals.minValue || 0 %>
         then add @disabled to previous <button/>
         else remove @disabled from previous <button/> end
         on change trigger updatePrice
         then if parseInt(my value) > 0 trigger toggleButton end
         on submit set my value to <%= locals.initialValue == null ? 1 : locals.initialValue %> end
         init trigger toggleButton">
      <button _="on click halt the event
                 set inputField to previous <input/>
                 then set the value of inputField to parseInt(value of inputField) + 1
                 then trigger change on inputField">&plus;</button>
    </div>