<div class="receipt">
  <h2>Kottej</h2> 
  <p><strong>Type:</strong> Food order</p>
  <p><strong>Date:</strong> <%= new Date().toDateString() %></p>
  <table class="receipt__transactions">
    <thead>
      <th>Product</th>
      <th>Qty</th>
      <th>Price</th>
    </thead>
    <% foods.forEach(food => { %>
      
      <tr>
        <td><%= food.name %></td>
        <td><%= food.quantity %></td>
        <td><%= food.cost %></td>
      </tr>
      
      <% }); %>
      <tr class="receipt__total-cost">
        <td colspan="2">Total</td>
        <td>AED <%= foods.reduce((sum, food) => sum + parseFloat(food.cost), 0) %></td>
      </tr>
    </table>
    <h3>Have any concerns?</h3>
    <address>support@kottej.food</address>

    <svg viewBox="0 0 58 12" fill="none" class="barcode" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 12V0H0.360167V12H0ZM1.44067 12V0H1.80084V12H1.44067ZM2.88134 12V0H3.60167V12H2.88134ZM3.96278 12V0H4.32295V12H3.96278ZM5.04328 12V0H5.40345V12H5.04328ZM5.76361 12V0H6.48395V12H5.76361ZM7.92556 12V0H8.64589V12H7.92556ZM10.0866 12V0H10.4467V12H10.0866ZM10.8069 12V0H11.1671V12H10.8069ZM11.8883 12V0H12.6086V12H11.8883ZM12.9688 12V0H13.6892V12H12.9688ZM14.4095 12V0H15.1298V12H14.4095ZM15.8512 12V0H16.5715V12H15.8512ZM16.9317 12V0H17.652V12H16.9317ZM18.0122 12V0H19.4528V12H18.0122ZM19.8139 12V0H20.1741V12H19.8139ZM21.2546 12V0H22.6952V12H21.2546ZM23.0554 12V0H23.4156V12H23.0554ZM23.7766 12V0H24.1368V12H23.7766ZM24.8571 12V0H26.2978V12H24.8571ZM27.0181 12V0H27.3783V12H27.0181ZM27.7395 12V0H28.4598V12H27.7395ZM28.82 12V0H29.5403V12H28.82ZM30.2606 12V0H30.981V12H30.2606ZM31.7022 12V0H32.0624V12H31.7022ZM32.4225 12V0H33.1429V12H32.4225ZM34.5835 12V0H34.9437V12H34.5835ZM35.6649 12V0H36.0251V12H35.6649ZM37.4658 12V0H38.1861V12H37.4658ZM38.5463 12V0H38.9064V12H38.5463ZM39.6278 12V0H40.3481V12H39.6278ZM41.7888 12V0H42.1489V12H41.7888ZM42.5091 12V0H42.8693V12H42.5091ZM43.5905 12V0H43.9507V12H43.5905ZM45.3914 12V0H45.7515V12H45.3914ZM46.4719 12V0H47.1922V12H46.4719ZM47.5533 12V0H48.2737V12H47.5533ZM48.6339 12V0H49.3542V12H48.6339ZM50.0745 12V0H50.7949V12H50.0745ZM51.5161 12V0H52.9568V12H51.5161ZM53.3169 12V0H54.3974V12H53.3169ZM54.7576 12V0H55.1178V12H54.7576ZM55.4788 12V0H55.839V12H55.4788ZM56.1992 12V0H56.9195V12H56.1992ZM57.6398 12V0H58V12H57.6398Z" fill="black"/>
    </svg>
</div>